<div class="pagination"></div>
<div class="fast-freddy">

</div>
<div class="pagination"></div>

<% content_for :sidebar do %>
  &nbsp;
<% end %>

<% content_for :templates do %>
  <%= render "spree/templates/products/index" %>
  <%= render "spree/templates/products/preview" %>
  <%= render "spree/templates/products/show" %>
  <%= render "spree/templates/cart/info" %>
  <%= render "spree/templates/cart/show" %>
  <%= render "spree/templates/taxonomies/item" %>
  <%= render "spree/templates/line_items/show" %>
  <%= render "spree/templates/line_items/index" %>
<% end %>

<script>
  $(document).ready(function() {
    if (SpreeStore.current_order_id) {
      $('#link-to-cart').html("<a href='#'><%= Spree.t(:cart) %>: <img src='/assets/loading.gif'></a>")
    } else {
      $('#link-to-cart').html("<a href='#'><%= Spree.t(:cart) %>: <%= Spree.t(:empty) %></a>")
    }
    SpreeStore.start();
  })
</script>