<div class="pagination" id='top-pagination'></div>
<div class="fast-freddy">

</div>
<div class="pagination" id='bottom-pagination'></div>

<% content_for :sidebar do %>
  &nbsp;
<% end %>

<% content_for :templates do %>
  <%= render "spree/templates/shared/errors" %>
  <%= render "spree/templates/products/index" %>
  <%= render "spree/templates/taxonomies/item" %>
  <%= render "spree/templates/products/preview" %>
  <%= render "spree/templates/products/show" %>
  <%= render "spree/templates/cart/empty_info" %>
  <%= render "spree/templates/cart/info" %>
  <%= render "spree/templates/cart/show" %>
  <%= render "spree/templates/line_items/show" %>
  <%= render "spree/templates/line_items/index" %>
  <%= render "spree/templates/checkout/address" %>
  <%= render "spree/templates/checkout/delivery" %>
  <%= render "spree/templates/checkout/payment" %>
  <%= render "spree/templates/checkout/payment_errors" %>
  <%= render "spree/templates/checkout/confirm" %>
  <%= render "spree/templates/orders/show" %>
  <% @payment_method_types.each do |payment_method_type| %>
    <%= render "spree/templates/orders/payment_methods/#{payment_method_type}" %>
  <% end %>
<% end %>

